{% extends 'main/base.html' %}

{% block header %}{% endblock header %}
{% block body %}
<div class="card text-center">
    <div class="card-header">
        Category {{ form.category }} : {{ form.title }}
    </div>
    <div class="card-body">
      <div class="media">
        <img src="{{ form.image.url }}" alt="" width="350">
        <div class="media-body">
          <p class="card-text">{{ form.content}}</p>
    </div>
    <div class="card-footer text-muted">
      {{ form.published }}
    </div>
  </div>
{% endblock body %}